@import '../../settings.scss';

$number-height: 5rem;

.interview-question {
  position: relative;
  margin-bottom: 3rem;

  &__question-mark {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(25% - 17.5px);
    left: -$number-height/2;
    width: $number-height;
    height: $number-height;
    text-align: center;
    color: $color-white;
  }

  &__answers-container {
    margin-top: 2rem;
    background: $color-dark-blue;
    color: $color-white;
    border-radius: 10px;
    padding: 1rem 3rem;
  }
}
