.question {
  display: flex;
  flex-wrap: wrap;

  &__content {
    display: flex;
    overflow-x: hidden;
    align-items: center;
    width: 100%;
    padding: 1rem;

    &:before {
      content: '';
      display: inline-block;
      height: 1em;
      width: 1em;
      background-size: contain;
      background: url("clipboard.svg") no-repeat;
      padding-left: 3rem;
    }
  }

  &__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__edit-button {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 900;
    padding: 0.8rem 1rem;
    margin-left: auto;

    &::before {
      content: " ";
      background: url("pencil.svg") no-repeat;
      background-size: contain;
      width: 20px;
      height: 20px;
      display: inline-block;
      margin-right: 5px;
    }
  }

}