@import '../../settings.scss';

.questions-editor {
}

.questions-editor-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $color-dark-blue;
  color: $color-white;
  width: 100%;
  padding: 1.5rem 2.5rem;
}
