@import '../../settings.scss';

.add-question {
  display: flex;
  flex-direction: column;
  width: 100%;
  opacity: 1;
  animation: eject 1s ease-out;
  position: relative;

  &__button {
    background-color: $color-dark-blue;
    color: $color-yellow;
    flex: 1;
    margin-left: 1rem;
  }

  &__label {
    flex: 3;
    font-size: 1.35rem;
    padding: 0 1rem;

    &--small {
      flex: 1
    }
  }

  &__input {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1.4rem;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    height: 3.65rem;
    font-weight: 600;

    &::placeholder {
      color: #aaa;
    }
  }
}

.layout-body {
  display: flex;
  flex-direction: column;
  flex: 3;

  &__first-row {
    margin: 1.2rem 0;
    display: flex;
  }

  &__second-row {
    margin: 1.2rem 0;
    display: flex;
  }
}

.layout-footer {
  display: flex;
  margin-top: 2rem;
  color: $color-yellow;
  font-weight: 600;
  align-items: center;
}

@keyframes eject {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}