@import "../../settings.scss";

.result {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  color: $color-dark-blue;
  width: 100%;
  justify-content: space-around;
}

.result-pie-charts {
  display: flex;
}